<?xml version="1.0" encoding="UTF-8"?>

<launch>
	<!-- at least this thing that i saw on the web starts with the principal axis on X  -->
	<!--x y z, z is up btw         qx qy qz qw -->
	<!--or x y z  and tait angles, but inverted order!!!! y p r  -->

	<!-- node pkg="tf" type="static_transform_publisher" name="camera_link_broadcaster" args="0 0 1 0 0 0 1 map usb_cam 100" / -->
	<!-- node pkg="tf" type="static_transform_publisher" name="camera_link_broadcaster" args="0 0 1 1.570796325 0  1.570796325 map usb_cam 100" / -->
	<!-- node pkg="tf" type="static_transform_publisher" name="camera_link_broadcaster" args="0 0 1 0 0 1.570796325 map usb_cam 100" / -->
	<!-- node pkg="tf" type="static_transform_publisher" name="camera_link_broadcaster" args="0 0 1 3.14159265 3.14159265 1.570796325 map usb_cam_acer 100" / -->
	<group ns="usb_cam_brio">
		<!-- node pkg="tf" type="static_transform_publisher" name="camera_link_broadcaster" args="0 0 1 3.14159265 0 -1.570796325 map usb_cam_acer 100" / -->
		<!-- node pkg="ar_test" 	type="modifiable_fixed_transform_publisher.py" 	name="tripod_link_broadcaster" args="0 +0.5 0 -1.570796325 0 0 map base_link 100" /-->
		<node pkg="tf" 			type="static_transform_publisher" 		name="tripod_link_broadcaster" args="0 +0.5 0 -1.570796325 0 0 map base_link 100" />
		<node pkg="tf" type="static_transform_publisher" name="camera_link_broadcaster" args="0 0 1.4 -1.570796325 0 -1.570796325 base_link camera_link 100" />

		<arg name="max_new_marker_error" default="0.08" />
		<arg name="max_frequency" default="300.0"/>
		<arg name="max_track_error" default="0.2" />
		<arg name="cam_image_topic" default="image_rect" />
		<arg name="cam_info_topic" default="camera_info" />
		<arg name="output_frame" default="/camera_link" />

		<!-- marker size should be the size of one black pixel. since the markers have different sizes and I don't know what the bundle numbers do, maybe we need to set multiple of those-->
		<node name="ar_track_alvar_1" pkg="ar_track_alvar" type="findMarkerBundlesNoKinect" respawn="false" output="screen" >
			<rosparam param="proper_names" >['ar/thorax']</rosparam>
			<!-- black to black marker size in cm -->
			<param name="marker_size" value="11.9"/>
			<param name="max_new_marker_error" value="$(arg max_new_marker_error)"/>
			<param name="max_track_error" value="$(arg max_track_error)"/>
			<param name="max_frequency" value="$(arg max_frequency)"/>
			<!-- number n of small squares in an nxn qr code -->
			<param name="marker_resolution" value="5"/>
			<!-- single sided amount of black around the marker in cm-->
			<param name="marker_margin" value="2.6"/>
			
			<param name="bundle_files" value="$(find brio_cam)/torax.xml"/>
			<param name="output_frame" value="$(arg output_frame)"/>
			<remap from="camera_image" to="$(arg cam_image_topic)"/>
			<remap from="camera_info" to="$(arg cam_info_topic)"/>
		</node> 
	</group>
</launch>

