<launch>
    <param name="robot_description" command="cat $(find brio_cam)/brio.urdf" />
    <!-- node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" / -->
    <!-- in my understanding i shouldnt need this...-->
	<node pkg="tf" type="static_transform_publisher" name="usb_came_brio_link_broadcaster" args="0 0 0 0 0 0 camera_link usb_cam_brio 100" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find brio_cam)/cam_urdf.rviz" required="true" />
</launch>

